<div class="ar-header">

  <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2">
    <button ng-class="{ 'is-open': vm.sideMenu.isOpen }" ng-click="vm.sideMenu.toggle()" class="menu-button"><span>toggle menu</span></button>
  </div>
  <div class="col-xs-11 col-sm-6 col-sm-offset-5 col-md-4 col-md-offset-6 col-lg-4 col-lg-offset-6">
    <form class="form-inline pull-right">
      <div class="input-group">
        <input type="text" class="form-control">
        <span class="input-group-btn">
          <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i></button>
        </span>
      </div>
    </form>
  </div>

</div>
